body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #2f2f2f;
    font-family: Arial, sans-serif;
}
#header {
    display: flex;
    width: 100%;
    margin-left: -10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkorchid;
    height: 30px;
}
#header img{
    margin:10px 10px;
}
#usernameInput {
    margin-top: -5px;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    height: 20px;
    border: none;
    background-color: darkorchid;
    color: white;
    box-sizing: border-box;
}
#chatFrame {
    height: calc(100% - 192px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: darkorchid #333333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2f2f2f;
}
.messageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 70%;
    word-wrap: break-word;
}
.messageBubble {
    background-color: darkorchid; 
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    clear: both;
    color: white; 
}
.messageText {
    margin-right: 20px;
    word-wrap: break-word;
}
#messageInputContainer {
    position: fixed;
    bottom: 55px;
    width: 99%;
    background-color: #2f2f2f;
    padding: 10px;
    display: flex;
    align-items: center;
}
#messageInput {
    flex: 1;
    padding: 10px;
    background-color: #2f2f2f;
    color: darkorchid;
    border: 2px solid darkorchid;
    border-radius: 20px;
}
#sendButton {
    background-color: darkorchid;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
    outline: none;
}
footer {
    margin-top: 100px;
    background-color: black; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    margin: none; 
}
footer img {
    width: auto;
    height: 30px;
    margin: 0 20px;
}
