body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
h2 {
    margin: 150px 50px 0 100px;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
p {
    margin: 0px 150px 0px 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#redirect {
    margin: 600px 150px 0px 0px;
    width: 700px;
    height: 20px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: 20px 20px 20px 30px;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px white;
}
::-webkit-scrollbar {
    width: 10px; 
    background-color: black; 
}
::-webkit-scrollbar-thumb {
    background-color: white; 
}
::-moz-scrollbar {
    width: 10px; 
    background-color: black;
}
::-moz-scrollbar-thumb {
    background-color: white; 
}
.favicon {
    width: 30px;
    height: 30px;
}
.top-right-links {
    display: flex;
    gap: 30px;
    align-items: center; 
    margin-right: 50px;
    margin-top: -10px;
}
.top-right-links a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    scroll-snap-type: y mandatory;
}
#home {
    background-image: url("/Resources/home.webp");
}
#study_material {
    background-image: url("/Resources/books.jpg");
}
#ide {
    background-image: url("/Resources/ide.jpeg");
}
#chat {
    background-image: url("/Resources/chat.webp");
}
#notes {
    background-image: url("/Resources/notes.jpg");
}
#webscraper {
    background-image: url("/Resources/webscraper.jpg");
}
.page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    margin-top: 100px;
    background-color: black; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    margin: none; 
}
footer img {
    width: auto;
    height: 30px;
    margin: 0 20px;
}