body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: #FFFFFF;
    font-family: Arial, sans-serif; 
}
header {
    background-color: #141414;
    padding: 10px;
    text-align: left;
}
label {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    color: darkorchid; 
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}
.navigation-button {
    width: 480px; 
    height: 220px; 
    background-color: darkorchid;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 30px;
    cursor: pointer;
}
@media only screen and (max-width: 1300px) {
    .button-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .navigation-button {
        width: 340px; 
        height: 80px; 
        background-color: darkorchid;
        color: #FFFFFF;
        border: none;
        border-radius: 25px;
        font-size: 30px;
        cursor: pointer;
    }
}