body {
    font-family: Arial, sans-serif;
    margin-top: -100px;
    margin-bottom: 100px;
    padding: 0;
    background-image: url("/Resources/kindle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
header {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    display: flex;
    margin-top: 100px;
    height: 30px;
}
header img{
    size: 5px;
    margin: 1px 10px;
}
.file-container{
    margin: 270px 0px 400px 300px;
}
.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.heading {
    font-size: 24px;
    font-weight: bold;
    margin: 1px 10px;
}
.book {
    background-color: #87CEEB;
    padding: 20px;
    margin: 30px 100px 30px 100px;
    border-radius: 30px;
    width: 1100px;
}
.book h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.book p {
    color: #AFEEEE ;
    font-size: 22px;
    line-height: 1.5;
}
button {
    background-color: lightblue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #8a2be2;
}
footer {
    margin-top: 100px;
    margin-left: -50px;
    background-color: black; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 110%;
}
footer a {
    margin: none; 
}
footer img {
    width: auto;
    height: 30px;
    margin: 0 20px;
}